@page
@using Domain;
@model CloudPartners.WebUI.Pages.LicensesModel
@{
    <h1>License overview</h1>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CompanyName</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (License l in Model.Licenses)
                {
                    <tr>
                        <td>
                            @l.Id
                        </td>
                        <td>
                            @l.CompanyName
                        </td>
                        <td>
                            @l.Description
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}
