@page
@model LicenStream.WebUI.Pages.AboutModel
@{
    ViewData["Title"] = "About Licenstream";
}

<h1>About us</h1>

<div>
    <p>
        We are a company made up of four Associate Degree ICT Students at Fontys Eindhoven. Our goal was to create a dashboard for license resellers that will offer a comprehensive overview
        of the products they sell and to offer insights, data and statistics about their customers and sold products.
    </p>
</div>



