@page
@using Domain;
@model LicenStream.WebUI.Pages.LicenseDetailsModel
@{
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Sku Name</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>
                    @Model.License.SkuPartNumber
                </td>
            </tr>

        </tbody>

    </table>
</div>
