@page
@using Domain;
@model LicenStream.WebUI.Pages.LicensesModel
@{
    ViewData["Title"] = "Licenses";
}

<h1>License overview</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Tenant</th>
                <th>SkuPartNumber</th>
                <th>Hoeveelheid</th>
            </tr>
        </thead>

        <tbody>
            @foreach (License l in Model.Licenses)
            {
                
                    <tr>
                        <td>
                            @l.AccountName
                        </td>
                        <td>
                            <a asp-page="/LicenseDetails" asp-route-objectId="@l.SkuPartNumber">
                                @l.SkuPartNumber
                            </a>
                        </td>
                        <td>
                            @l.ConsumedUnits
                        </td>
                    </tr>
            }
        </tbody>

    </table>
</div>
