@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") =
    @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
</p>

<!-- dotnet run --environment Production doesn't change the environment
    variable ASPNETCORE_ENVIRONMENT. In development environments, when the
    hosting environment is production the environment variable is development.
-->

<p> @hostingEnv.EnvironmentName = @hostingEnv.EnvironmentName</p>

<!-- <snippet_Environment> -->
<environment include="Development">
    <div>Environment is Development</div>
</environment>
<environment include="Test">
    <div>Environment test</div>
</environment>
<environment include="Acceptation">
    <div>Environment is: Acceptation</div>
</environment>
<environment include="Live">
    <div>Environment is: Live</div>
</environment>
<!-- </snippet_Environment> -->